* {
  background-color: #1a1a1a

}

h1 {
  text-align: center;
  color: #ffffcc

}

.divTable {
    display: inline-grid;
    padding: 2px;
    color: white;

}

.divTableBody {
  display: inline-grid;
  padding: 2px;
  color: white;
}

.divTableRow {
  display: inline-grid;
  padding: 2px;
  color: white;
}

.divTableCell {
  display: inline-grid;
  padding: 2px;
  color: white;
}
